:root {
  --white: #fff;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000;
  --blue: #007bff;
  --blue-light: #007bff10;
  --blue-hover: #007bff30;
  --blue-light-opaque: #eff7ff;
  --blue-mid: #007bff99;
  --pblue: #4c75f2;
  --pblue-light: #4c75f210;
  --pblue-hover: #4c75f230;
  --pblue-light-opaque: #eff7ff;
  --pblue-mid: #4c75f299;
  --pblue-dark: #4c75f2dd;
  --cherry: #ff073a;
  --cherry-mid: #ff073a99;
  --cherry-light: #ff073a20;
  --cherry-hover: #ff073a30;
  --cherry-light-opaque: #ffe0e6;
  --red: #dc3545;
  --red-light: #dc354520;
  --red-mid: #dc354599;
  --red-hover: #dc354530;
  --orange: #fd7e14;
  --orange-mid: #fd7e1499;
  --orange-light: #fd7e1420;
  --orange-hover: #fd7e1430;
  --orange-light-opaque: #ffefe2;
  --yellow: #ffc107;
  --yellow-light: #ffc10720;
  --yellow-hover: #ffc10730;
  --yellow-mid: #ffc10799;
  --yellow-light-opaque: #fff7e0;
  --green: #28a745;
  --green-light: #28a74520;
  --green-hover: #28a74530;
  --green-mid: #28a74599;
  --gray: #6c757d;
  --gray-light: #6c757d10;
  --gray-light-opaque: #f6f6f7;
  --gray-hover: #6c757d20;
  --gray-mid: #6c757d99;
  --gray-middark: #6c757d30;
  --gray-dark: #343a40;
  --gray-opaque: #f1f1f1;
  --gray-hover-opaque: #edeeef;
  --gray-hover-darker-opaque: #f6f6f7;
  --purple: #201aa2dd;
  --purple-light: #201aa220;
  --purple-hover: #201aa230;
  --purple-mid: #201aa299;
  --purple-light-opaque: #e3e2f3;
  --pink: #db5581;
  --pink-light: #db558120;
  --pink-hover: #db558130;
  --pink-mid: #db558199;
  --brown: #b6854d;
  --brown-light: #b6854d10;
  --brown-hover: #b6854d30;
  --brown-mid: #b6854d99;
  --brick: #e23028;
  --brick-light: #e2302810;
  --dark-m-gray: #161625;
  --dark-mid-subtext: #bdb8ae;
  --dark-m-white: #e1e1e1;
  --dark-m-blue: #3391ff;
  --dark-m-purple: #9673b9;
  --dark-m-purple-mid: #9673b9bb;
  --dark-m-purple-light: #40008050;
}

p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

body {
  background-color: #161625;
}

.main-container {
  margin-left: 75px;
}

.test1 {
  border-radius: 10px;
}

.cell1 {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
}

tbody {
  padding: 10px;
  margin: 10px;
}

.heading {
  background-color: white;
  border-radius: 10px;
  font-size: 17.5px;
  margin-bottom: 2rem;
  width: 400px;
}

.main-heading {
  border-radius: 10px;
  font-size: 25px;
  color: #6c757d;
  margin-left: 50px;
}

.secondary-heading {
  border-radius: 10px;
  font-size: 20px;
  color: #6c757d;
  margin-left: 50px;
}

.story-body {
  width: 100%;
  height: 1000px;
  padding: 10px 30px;
}

.story-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  margin: 0;
}

.story-cell {
  background-color: #1e1e30;
  color: #6c757d;
  width: 18%;
  margin: 1%;
  height: 250px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.story-title {
  position: relative;
  padding: 0px;
  flex: 1;
  border-radius: 5px 5px 0 0;
  width: 100%;
  text-align: left;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
}

.line {
  background-color: #6c757d;
  height: 1px;
  width: 100%;
}

.story-content {
  position: relative;
  width: 100%;
  word-wrap: break-word;
  flex: 7;
}

.story-profile {
  width: 100%;
  flex: 1;
  height: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile-img {
  position: relative;
  border-radius: 50%;
  height: 100%;
  padding-left: auto;
  text-align: center;
  justify-content: center;
}

.profile-img img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.profile-name {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebars {
  position: relative;
  white-space: nowrap;
}

/* The sidebar menu */
.sidebar {
  position: relative;
  z-index: 1;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #1e1e30;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.persistent-sidebar {
  position: relative;
  z-index: 2;
  height: 100%; /* 100% Full-height */
  width: 75px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  background-color: #1e1e30;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #6c757d;
  display: block;
  transition: 0.3s;
}

.persistent-sidebar a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #6c757d;
  display: block;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  background-color: #262e55;
}

.persistent-sidebar a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.table {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 20px 50px;
  grid-template-columns: repeat(2, auto);
  color: #6c757d;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
}

.table-header {
  background-color: #1e1e30;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  font-size: 110%;
  border-bottom: 1px solid;
  border-radius: 10px 10px 0 0;
}

.table-body {
  background-color: #1e1e30;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
}

.table-body:last-child {
  border-radius: 0 0 10px 10px;
}

.title-cell {
  flex: 4;
}
.date-cell {
  flex: 3;
}
.status-cell {
  flex: 1;
}

.header-cell {
  /* background-color: yellow; */
  border-width: 10px;
}

.body-cell {
  /* background-color: lime; */
  border-width: 10px;
}

.fixed-add-btn {
  background-color: red;
  color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
}

.form-container {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 20px 50px;
  padding: 20px;
  grid-template-columns: repeat(2, auto);
  color: #6c757d;
  border-radius: 10px;
  border-color: 1e1e30;
  border-style: solid;
  border-width: 2px;
}

.form-body {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
}

.form-cell {
  word-wrap: break-word;
}

.form-row {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.left-cell {
  font-size: 25px;
  white-space: nowrap;
}

.text-single {
  display: inline-block;
}

.mid-cell {
  width: 100%;
  padding-right: 20px;
}

.right-cell {
  width: 100px;
  margin-left: 20px;
  height: 100%;
}

.input-title {
  background-color: #1e1e30;
  color: #6c757d;
  border: none;
  outline: none;
  height: 30px;
  font-size: 20px;
  width: 100%;
  transition: height 1s;
  -webkit-transition: height 1s;
  border-radius: 2px;
  margin-left: 10px;
  padding: 0 10px;
}

.input-title::placeholder {
  color: #6c757d66;
}

.add-btn {
  background-color: #1e1e30;
  color: #6c757d;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 100%;
}

.add-btn:hover {
  background-color: #262e55;
  cursor: pointer;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #1e1e30;
  border-bottom: 1px solid #1e1e30;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #262e55;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #262e55 !important;
  color: #6c757d;
}

#resource-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resource-item {
  background-color: pink;
  width: auto;
  height: 20px;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 5px;
  margin-bottom: 10px;
  color: #6c757d;
  border-radius: 15px;
  background-color: #1e1e30;
  color: #6c757d;
  border-width: 0;
  outline: none;
  height: 30px;
}

.resource-item:hover {
  background-color: #262e55;
  cursor: pointer;
}
